.app-container {
  text-align: center;
  margin-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
}

body {
  background-image: url(/src/soft-gradient-abstract-with-rainbow-colors-gradient-background-blurred-gradient-texture-decorative-elements-rainbow-wallpaper-vector.jpg);
}

.app-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.app-container > h1, h2 {
  color: #424874;
}